<div class="footer">
    <div class="footer-content">
        <a href="#" class="footer__logoContainer">
            <svg>
                <use href="#logo"></use>
            </svg>
        </a>

        <div class="footer__contactsContainer">
            <a href="tel:+375 29 910 3032">+375 29 910 3032</a>
            <a href="mailto:yar@bydesign.by">yar@bydesign.by</a>
        </div>

        <div class="footer__formContainer">
            <h2>Остались вопросы? Мы с вами свяжемся</h2>
            <form action="">
                <input type="text" placeholder="Телефон">
                <button type="submit">
                    <svg>
                        <use href="#arrowRight"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>